.App {
    text-align: center;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .active-window {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;
    width: 100%;
  }

  .active-window_project-selected {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
  }

  .header-wrapper{ 
    padding-top: 10%;
    padding-bottom: 3%;
    
  }

  .project-details-wrapper{
    padding-top: 2%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
  }

  .project-details-wrapper h4{
    color: #282c34;
    border-bottom: 1px solid black;
  }

  .project-details-wrapper p{
    color: #282c34;
  }

  /*
    header block
  */
  .project-details-header{ 
    background-color: white;
    min-height: 15vh;
    
    /* border: 1px solid white; */
  }
  
  /*
    title element
  */
  .project-details-header__title{
    color: #282c34;
    text-align: left;
  }

  .header__greeting p{
    color: #282c34;
  }

  /*
    input element
  */
  .header__input{
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    /* border: 1px solid pink; */
    border-radius: 5px;

  }

  .projects-wrapper{ 
    width: fit-content; 
    /* or 18% */
    /* max-width: 50%; */
  }

  /*
    projects-wrapper
  */
  .projects{
    /* background-color: blue; */
    min-height: 50vh;
    /* border: 1px solid black; */
    /* border: 0.75em solid; */
  }

  /*
    projects header element
  */
  .projects-header{
    color: red;
    /* border: 1px dashed pink; */
    text-align: left;
    padding-left: 3px;
  }

  .projects-header p{
    padding-left: 7px;
    color: whitesmoke;
  }


  /*
    projects block
  */
  .projects-block{
    /* border: 1px solid  #f0f; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* center for the whole screen */
    justify-content: center; 
    /* space-between for a half of the screen */
    /* justify-content: space-between;  */
  }
  
   /*
    projects block > square element
  */
  .projects-block__square{
    margin: 3px;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #282c34;
    
    /* commented out to render on half */
    /* flex: 1 1 0%; */
  }

  .projects-block__innerSquare{
    margin: 0px auto;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  [role="button"] {
    /* padding: 2px; */
    color: white;
    cursor: pointer;
  }
  [role="button"]:hover,
  [role="button"]:focus,
  [role="button"]:active {   
     background-color: #282c34;
     color: #282c34; 
  } 

  .projects-block__project-title{
    flex: auto;
  }

  .project-details{
    padding: 10px;
    background-color: white;
    height: 100%;
    width: -webkit-fill-available;
    border-radius: 10px;
    margin: 10px;
  }

  